@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.3s ease-in-out;
  transition: scale 0.3s ease-in-out;
  letter-spacing: 0.1em;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $color-highlight;
    border-radius: 4px;
    scale: 1.02;
  }

  &--light {
    background-color: $color-accent;

    @include lg-min {
      min-width: 250px;
      min-height: 60px;

      font-size: 1.125rem;
    }
    @include lg-md {
      min-width: 200px;
      min-height: 50px;
    }
    @include md {
      min-width: 170px;
      min-height: 40px;
    }
  }

  &--primary {
    min-height: 60px;

    border-color: $color-primary;
    background-color: $color-accent;

    font-size: 1.125rem;

    @include sm-min {
      min-width: 350px;
    }
    @include sm {
      width: 100%;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}
