@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  width: 100%;

  &__title {
    text-align: center;
    padding-bottom: 0;

    @include lg-min {
      margin: 0 0 20px 0;
    }
    @include lg-md {
      margin: 0 0 20px 0;
    }
    @include md {
      margin: 0 0 20px 0;
    }
  }

  &__subtitle {
    text-align: center;
    color: $color-gray-light;
    font-size: 1.5rem;
    margin: 0 0 60px 0;
  }

  &__container {
    @extend %container;
  }

  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;
    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }
}
