$color-primary: #635856;
$color-gray-dark: #3a3a3c;
$color-gray-light: #e2dcda;
$color-accent: #f9a027;
$color-highlight: #ff9100;

$color-gray: #b39c96;

$color-gray-light2: #eeeeee;

$color-black: #000000;
$color-white: #ffffff;
