@use "../../presets" as *;
@use "../../mixins" as *;
@use "sass:color";

// posts
.posts {
  @extend %section;

  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;

    margin-bottom: $gap;

    gap: $gap;
    @include lg-min {
      grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}

// post item
.post-item {
  transition: background-color 0.3s;

  background-color: $color-gray-light2;

  &:hover {
    color: $color-primary;
    background-color: color.adjust($color-gray-light2, $lightness: -10%);
    border: solid 2px $color-primary;

    img {
      scale: 1.1;
    }
  }

  &__link {
    transition: color 0.3s;

    color: inherit;
  }

  &__content {
    padding: $gap-lg $gap;

    text-align: center;

    line-height: 1.5em;
  }

  &__picture {
    overflow: hidden;

    height: 300px;
  }

  &__image {
    display: block;

    width: 100%;
    height: 300px;

    transition: scale 0.3s;

    object-fit: cover;
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
